@import url("https://fonts.cdnfonts.com/css/netflix-font");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  width:100vw;
  /* overflow-x: hidden; */
  max-width: 100vw;
}

.container {
  background-image: url(assets/images/background.jpg);
  width: max(1200px, 100%);
  height: 100vh;
  background-position: center center;
  /* position: absolute; */
  object-fit: cover;
  /* background: rgba(0, 0, 0, 0.4); */
  /* background-image:linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%); */
  /* opacity: 0.44; */
}

.bg-box {
  background-color: black;
  position:relative;
  height: 100vh;
  width: 100%;
  z-index: 10;
  
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 195px;
}

nav ul {
  align-items: center;
  color: white;
  display: flex;
  gap: 35px;
  list-style: none;
}

.netflix-logo {
  height: 100px;
}

.nav-buttons {
  position: relative;
  z-index: 1;
  width: 120px;
  height: 30px;
}

.nav-button-1 {
  border: 2px solid whitesmoke;
  background-color: transparent;
  color: white;
  font-size: 15px;
  font-weight: 550;
}

.nav-button-2 {
  background-color: rgba(223, 10, 21, 0.91);
  cursor: pointer;
  color: white;
  border-radius: 8px;
  font-size: medium;
  font-weight: 300;
}

.nav-button-2:hover {
  background-color: rgb(229, 29, 39);
}

.main-content {
  color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
  gap: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* .main-content-text{
    z-index: 1;
} */

.main-1-line {
  font-size: 50px;
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
  font-weight: 700;
}

.main-2-line {
  font-size: 25px;
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
  font-weight: 400;
}

.main-3-line {
  font-size: 22px;
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
  font-weight: 400;
}

.main-content input {
  /* display: flex;
    flex-direction:row ; */
  width: 350px;
  height: 40px;
  border: 0.5px solid wheat;
  background-color: rgba(17, 18, 20, 0.513);
  border-radius: 6px;
}

.main-content input::placeholder {
  font-size: large;
  font-family: sans-serif;
  color: rgb(198, 196, 196);
  padding: 22px;
}

.main-content input {
  color: white;
  font-size: large;
  font-family: sans-serif;
}

.main-content-button {
  height: 45px;
  width: 150px;
  padding: 10px;
  background-color: rgba(223, 10, 21, 0.91);
  color: white;
  font-size: large;
}

.main-content-button:hover {
  background-color: rgb(229, 29, 39);
  cursor: pointer;
}

/* .section-1{
    background-color: rgb(0, 0, 0);
    height: 100vh;
} */
.h-line {
  height: 8px;
  background-color: rgb(35 35 35);
}

.section-1 {
  /* margin-top:1em ;*/
  height: 75vh;
  display: flex;
  background-color: black;
  align-items: center;
  justify-content: space-evenly;
  /* position: relative; */
}

.section-1-text {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.first {
  padding-left: 157px;
  font-size: 50px;
  font-weight: 850;
}

.second {
  padding-left: 157px;
  font-size: 25px;
  font-weight: 400;
  margin-right: 40px;
}

.tv {
  display: grid;
}

.tv img {
  height: 350px;
  margin-right: 200px;
  position: relative;
}

.tv video {
  margin-top: 76px;
  margin-left: 63px;
  position: absolute;
  height: 190px;
}

.section-2 {
  background-color: black;
  height: 75vh;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.section-2 img {
  height: 60vh;
  display: flex;
  margin-left: 10vw;
}

.section-2-icon {
  background-color: black;
  display: flex;
  height: 10vh;
  border: 2px solid rgba(128, 128, 128, 0.7);
  box-shadow: 0 0 2em 0 rgb(0, 0, 0);
  border-radius: 0.75rem;
  z-index: 1;
  width: 20vw;
  margin-left: 18vw;
  margin-top: -17vh;
  padding: 15px;
  position: relative;
}

.section-2-icon img {
  height: 12vh;
  margin-left: 0;
}

.section-2-icon-text {
  color: white;
  margin: 15px 20px;
  font-weight: 500;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.fa-fa-icon {
  width: 3rem;
  height: 3rem;
  margin-left: 10vw;
  margin-top: -6vh;
  outline: 2px solid rgb(0, 0, 0);
  outline-offset: -2px;
  background: url(assets/images/section-2-icon-gif.jpg) center center no-repeat;
  background-size: 100%;
}

.section-2-text {
  height: 75vh;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.section-2-first {
  font-size: 50px;
  font-weight: 850;
  margin-right: 10vw;
}

.section-2-second {
  font-size: 25px;
  font-weight: 400;
  margin-right: 8vw;
}

.section-3 {
  display: flex;
  justify-content: space-evenly;
  background-color: black;
  color: white;
  align-items: center;
  height: 75vh;

}

.section-3 .text {
  /* margin-left: 10vw; */
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.section-3 .text > :nth-child(1) {
  font-size: 50px;
  font-weight: 850;
}

.section-3 .text > :nth-child(2) {
  font-size: 25px;
  font-weight: 400;
}

.sec-3-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sec-3-img img {
  /* margin-right: 10vw;   */
  height: 380px;
  position: relative;
  z-index: 1;
}

.sec-3-img video {
  right: 220px;
  margin-bottom: 20vh;
  height: 170px;
  position: absolute;
}

.section-4 {
  background-color: black;
  height: 75vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-4 img {
  height: 60vh;
  margin-left: -5vw;
}

.section-4-text {
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.section-4-text > :nth-child(1) {
  font-size: 50px;
  font-weight: 900;
}

.section-4-text > :nth-child(2) {
  font-size: 25px;
  font-weight: 400;
}

.section-5 {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.section-5 > :nth-child(1) {
  /* text-align: center; */
  font-size: 50px;
  padding-top: 60px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 800;
}

.section-5-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6vh;
  width: 75vw;
  margin: 10px;
  font-size: 25px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 20px;
  background-color: #2d2d2d;
}

.section-5-box:hover {
  background-color: rgb(65, 65, 65);
  cursor: pointer;
  transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
}

.section-5 > :nth-child(8) {
  font-size: larger;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
}

.sec-5-foot {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 10px;
}

.sec-5-foot input {
  display: flex;
  flex-direction: row;
  width: 350px;
  height: 40px;
  border: 0.4px solid grey;
  background-color: rgba(17, 18, 20, 0.513);
  border-radius: 6px;
}

.sec-5-foot input::placeholder {
  font-size: large;
  font-family: sans-serif;
  color: rgb(198, 196, 196);
  padding: 22px;
}

.sec-5-foot input {
  color: white;
  font-size: large;
  font-family: sans-serif;
}

.sec-5-foot button {
  height: 45px;
  width: 150px;
  padding: 10px;
  background-color: rgb(229, 9, 20);
  color: white;
  font-size: large;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.sec-5-foot button:hover {
  transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
  background: rgb(193, 17, 25);
}

.sec-5-foot-ctnt {
  padding: 50px;
}

footer {
  height: 40vh;
  background-color: black;
  display: flex;
  justify-content: space-evenly;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.7);
  gap: 10vw;
}

.links ul li {
  color: rgba(255, 255, 255, 0.7);
  padding: 10px;
}

.links li {
  list-style: none;
  text-decoration: underline;
  cursor: pointer;
}

.devoleped-by{
  background-color: rgba(0, 0, 0, 0.95);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.devoleped-by-logo{
  color: rgb(147, 147, 147);
  display: flex;
  align-items: center;
  font-family:serif,apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;;
}

.image-container{
  display: flex;
  gap: 25px;
}

.devoleped-by img {
  height: 40px;
  border-radius: 90%;
  background: transparent;
  font-size: medium;
  font-weight: 400;
}
.social-media-icons{
  width: 25vw;
  color: rgb(0, 147, 147);
  display: flex;
  align-items: center;
  gap: 22px;
}
.social-media-icons svg{
  height: 25px;
  color: rgb(147, 147, 0);
}
